<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= content_for(:title) || "Island94" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "main" %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div class="container container-body">
      <%= yield %>
    </div>
  </body>
</html>
